body {
    padding-top: 80px; /* to make sure the error messages don't run into the navbar */
    padding-left: 100px;
    padding-right: 100px;
    background-color: lightblue;
}

img {
  height:auto;
  max-height: 300px;
  width:100%;
}

.chart-container{
  width: 640px;
  height: auto;
}
