body {
    padding-top: 80px; /* to make sure the error messages don't run into the navbar */
    padding-left: 100px;
    padding-right: 10px;
    background-color: lightblue;
}

.chart-container{
  width: 640px;
  height: auto;
}
